@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1, h2, h3, h4, ul, li, p, input, label, button, form {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}
ul { list-style-type: none; }
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.nav-logo {
  background: none;
  border: none;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}
nav ul { display: flex; align-items: center; }
nav li { margin-left: 20px; font-size: 0.9em; }
.btn-link {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}
.btn {
  border-radius: 36px;
  background: #FEE996;
  border: none;
  padding: 10px 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
form {
  width: 360px;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}
form h2 { font-size: 2.4em; font-weight: 900; margin-bottom: 20px; }
input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}
label { display: block; margin: 20px 0 5px; font-weight: 600; }
form button {
  margin-top: 20px;
  width: 100%;
  border-radius: 36px;
  background: #FEE996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px;
  cursor: pointer;
}
.error { color: #ff0099; margin: 5px 2px; font-size: 0.8em; font-weight: bold; min-height: 1em; }
header { text-align: center; }
header h2 { font-size: 3em; margin-bottom: 10px; }
header h3 { font-size: 1.6em; margin-bottom: 30px; color: #999; }
.tasks-container { width: 500px; background: white; padding: 30px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.05); }
.task-form { display: flex; gap: 10px; width: 100%; box-shadow: none; padding: 0; margin: 20px 0; }
.task-form button { width: auto; white-space: nowrap; margin: 0; border-radius: 4px; background: #cce5ff; }
.task-item { display: flex; justify-content: space-between; align-items: center; padding: 12px; border-bottom: 1px solid #eee; }
.task-item.completed span {  color: #6514b7; }
.task-actions button { border: none; background: none; margin-left: 10px; cursor: pointer; font-size: 1.1em; }
.complete-btn { color: green; }
.delete-btn { color: red; }
.task-list {
  list-style-type: decimal;
  padding-left: 24px;
  margin-left: 0;
  margin-top: 20px;
}
.task-number {
  font-weight: bold;
  margin-right: 8px;
  color: #555; /* Adjust color to match your design */
}
.task-description {
  flex-grow: 1; /* Pushes the action buttons to the right side */
}
